VITE_SUPABASE_URL=https://ltwekvgqfawkykpvviyx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0d2VrdmdxZmF3a3lrcHZ2aXl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODc0NzQsImV4cCI6MjA4MjA2MzQ3NH0.X9go-NcjTLFJKWziW1LXMYvj9OC3Z57SZgTH0phaHtc
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

